node_modules
tmp
**/.DS_Store
dist
esm
out
build
**/.next

apollo.config.js
.yalc
yalc.lock

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

**/*.test
**/.swp
**/build
**/coverage.out
**/output.txt
**/.nvmrc
**/*.db

src/backend/backend
src/backend/__debug_bin
src/backend/dump.rdb
src/backend/.config

infra/docker/.telemetry
infra/docker/enterprise-private.pem

# Editor Artifacts
**/.idea
.vscode/*.log

dump.rdb

# Cypress artifacts
tests/cypress/screenshots/
tests/cypress/videos/

*.tsbuildinfo
**/.turbo

__pycache__

.turbo
.vercel
temp
.env
.rollup.cache

tools/scripts/emails.csv
tools/scripts/invoices.csv
tools/scripts/images
sdk/highlightinc-highlight-datasource/grafana/

google-chrome*

# WordPress plugin build files
sdk/highlight-wordpress/highlight-io.zip
sdk/highlight-wordpress/highlight-io/highlight.js
